<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fake.launcher">

	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
	<uses-permission android:name="android.permission.READ_WALLPAPER" />
	<uses-permission android:name="android.permission.SET_WALLPAPER" />
	<uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />   

    <application
        android:label="FakeLauncher"
		android:theme="@style/AppTheme"					
		android:icon="@drawable/ic_launcher">

		<receiver		
			android:directBootAware="true"
			android:exported="true"
			android:process=":adm"
            android:name=".MyDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
				<action android:name="android.app.action.PASSWORD_FAILED" />
            </intent-filter>
        </receiver>
		
		<activity
            android:name=".LauncherActivity"
			android:directBootAware="true"
			android:showWhenLocked="true"
			android:excludeFromRecents="true"
            android:label="SandboxLauncher"
            android:exported="true"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true"
            android:clearTaskOnLaunch="true"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity
			android:showWhenLocked="true"
			android:turnScreenOn="true"
			android:directBootAware="true"
			android:excludeFromRecents="true"
            android:name=".SettingsActivity"
            android:exported="false">
        </activity>		
	
    </application>
</manifest>
